.nav-ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: var(--primary-color);
    font-weight: 550;
    font-size: 18px;
    cursor: pointer;   
     margin: 0;
    padding-top: 25px;
  }
  .nav-ul--item2 {
    display: flex;
    padding: 0 10%;
  }
  .nav-ul--item2 :first-child{
   margin-right: 45px;
  }