.inventoryDetails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-column-gap: 3rem;
    padding: 2rem
}
.inventoryIcons{
    margin-right: 13%;
}
.inventoryDetails-list{
    padding: 10px
}
.inventoryDetails-list span:first-child{
    padding-right: 1rem;
}

.inventoryDetails-list span:last-child{
    padding-right: 1rem;
    font-weight: bold;
    color:var(--primary-color)
}
.editInventory{
    color: var(--success-color);
    margin-right: 15px;
    cursor: pointer;
    width: 20px;
}
.deleteInventory {
    color: crimson;
    cursor: pointer;
    width: 35px;
}
@media(max-width: 600px) {
    .inventoryIcons{
        margin-top: 18%;
    }
  }