.form-inventory{
    display: flex;
    justify-content: center;
}
.form-inventory__header {
    text-align: center;
}
.form-inventory__body {
    padding: 1rem;
    width: 30rem;
    border: 0;
    box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
.form-inventory__body div {
    padding: 10px;
    width: 95%;
}
.form-inventory__body div input,
.form-inventory__body div select  {
    margin-top: 5px;
    height: 1.5rem;
    width: inherit;
    font-size: 14px;
}

.form-inventory__body div .form-inventory__body-submitBtn {
    width: 40%;
    height: 2rem;
    color: #ffffff;
    outline: 0;
    border: none;
    /* background-color: rgb(58, 204, 108); */
    background-color: var(--primary-color-shade);
}

@media(max-width: 600px) {
    .form-inventory__body {
        width: auto;
        box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
    }
  }